
span {
   font-size: 24px; 
}

.budni {
    color: lime;
}

.vyhodnye{
    color: orange;
    font-size: 32px;
}
#prazdnik{
    border-color: red;
    border-width: 2px;
    border-style: solid; 
}

#prazdnik:hover {
    color: red;
}

#prazdnik:active {
    color: blue;
}

.myclass:after{
    content: "Псевдоэлемент after!";
    background: yellow;
}

.myblock:before {
    content: "Псевдоэлемент before!";
    background: yellow;
}
