body {
   /* background: red;*/
    background-image: url(06_1920x1080.jpg);
    /*background-image: url(image.jpg);*/
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    
}

.container{
    width: 960px;
    height: 500px;
    background: rgba(154,240,96,0.5);
    
    /* Рамка */
    border-color: rgb(255,237,72);
    border-style: solid;
    border-width: 3px;
    
    /* Внутренний отступ */
    padding: 20px;
    
    /* Скругленные углы */
    border-radius: 16px;
    
    /* Отступ сверху */
    margin-top: 50px;
    
    /* Отступ слева */
    margin-left: auto;
    
    /* Отступ справо */
    margin-right: auto;
    
    transition: 1s background;
}
.container:hover {
    background: rgba(200,232,196,0.8);
}
.container:active {
    background: rgba(255,0,0,1);
}
.budni {
    color: lime;
}
.vihodnoi {
    color: orange;
    font-size: 32px;
}
#prazdnik {
    border-color: red;
    border-width: 2px;
    border-style: solid;
}
/*псевдоклассы*/
#prazdnik:hover {
    color: red;
}
#prazdnik:active {
    color: blue;
}
.myclass:after{
    content: "Псевдоэлемент after!";
    background: yellow;
}
.myblock:before{
    content: "Псевдоэлемент before!";
    background: yellow;
}
/* сайт - css font stack*/
.text1{
    font-size: 32px;
}
.text2{
    font-weight: bold;
}
.text3{
    font-style: italic;
}
.text4{
    font-family: Tahoma, Arial, sans-serif;
}
.text5{
    font-family: "Times New Roman", serif;
}
.text6{
   font-variant: small-caps;
}